.app-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  min-height: 100vh;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
}

.container {
  width: 100%;
  max-width: 800px;
}

.title-text {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.625rem;
  color: #333333;
  margin-bottom: 3.5rem;
  font-family: 'Raleway', sans-serif;
}

.selection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 1rem;
  width: 100%;
}

.filter-container {
  padding: 20px;
  position: relative;
}

.filter-text {
  font-size: 0.875rem;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}

.border-active {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
  height: 4px;
  width: 100%;
  padding: 1px;
  background-color: #2F80ED;
  border-radius: 4px 4px 0px 0px;
  color: #2F80ED;
}

.border-active[data-type-active="true"] {
  display: block;  
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.input-container > input {
  border-radius: 12px;
  border: 1px solid #BDBDBD;
  padding: 20px 12px;
  color: #000000;
  background-color: transparent;
  width: 100%;
}

.input-container > .button-container {
  border-radius: 12px;
  background-color: #2F80ED;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 40px;
  margin-left: 24px;
  border: none;
  cursor: pointer;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  color:#333333;
  border: 1px solid #828282;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    right: 0px;
    width: 6px;
    height: 12px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: #FFFFFF;
    border-color: #2F80ED;
    background: #2F80ED;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

label {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  user-select: none;
  margin-left: 0.5rem;
}

label[data-type-checked="true"] {
  text-decoration: line-through;
  color: #333333;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;

}

.flex-between :last-child {
  margin-bottom: 0px;
}

.delete-todo-container {
  cursor: pointer;
}

.button-delete-todo-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-delete-todo-container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB5757;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}

.button-delete-todo-container > button > p {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: #FFFFFF;
  margin-left: 4px;
}

.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 2rem;
}

.footer-container > .title-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgba(130, 130, 130, 1);
}

.bold-underline {
  font-weight: 700;
  text-decoration: underline;
  color: rgba(130, 130, 130, 1);
}